* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    font-family: 'Cairo', sans-serif;
    background-image: url('images/backGround.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    height: 100vh;
    overflow: hidden;
}

.list {
    width: 30%;
    height: 30%;
    background-color: rgba(205, 203, 205, 0.532);
    color: rgb(160, 93, 0);
    border: 1px solid rgba(246, 5, 198, 0.532);
    border-radius: 10px;
    padding: 10px;
    font-family: 'Amiri', serif;
    font-size: 20px;
}

.left-section {
    width: 40%;
    height: 100%;
    padding-left: 8%;
}

.right-section {
    width: 60%;
    height: 100%;
    padding: 1% 10%;
}

.playList {
    height: 400px;
    overflow-y: auto;
}

.playList::-webkit-scrollbar {
    display: none;
}

.song {
    cursor: default;
}

.content {
    max-width: 500px;
}

.title {
    font-family: 'Amiri', serif;
    font-size: 80px;
    line-height: 0.9;
    margin-bottom: 10px;
    color: azure;
    text-shadow: -1px 0px black, 0 1px black, 1px 0 black, 0 -1px black;
}

.title span {
    font-weight: bold;
}

.song {
    height: 80px;
    border-bottom: 1px solid rgb(1, 62, 63);
    padding-top: 30px;
    color: blue;
    font-size: 25px;
    text-align: right;
    padding-left: 10px;
    padding-right: 10px;
}

.song9 {
    border-bottom: 0px;
}

.container {
    background-color: rgba(155, 155, 176, 0);
    margin-left: auto;
    border-radius: 20px;
    margin-bottom: 60px;
}

.component {
    width: 90%;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}

#mute {
    padding-left: 15px;
    padding-top: 15px;
    font-size: 20px;
    color: rgb(175, 0, 206);
}

#image-song {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    padding: 3px;
    background: linear-gradient(20deg, gold, orange, gold);
    animation: glow 2s linear infinite;
    object-fit: cover;
}

@keyframes glow {
    0% {
        filter: hue-rotate(0deg);
    }

    100% {
        filter: hue-rotate(360deg);
    }
}

#durationRange,
#volumeRange {
    width: 80%;
    height: 6px;
    color: rgb(175, 0, 206);
    appearance: none;
    border-radius: 4px;
}

.duration-song {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-left: 40px;
    padding-right: 40px;
    color: rgb(175, 0, 206);
}

.volume-container {
    align-content: center;
    width: 100%;
    padding-left: 40px;
    padding-right: 40px;
    color: rgb(175, 0, 206);
    padding-top: 10px;
    padding-bottom: 40px;
}

.duration-container {
    padding-top: 10px;
    padding-bottom: 40px;
}

.name-song {
    font-family: 'Amiri', serif;
    font-size: 48px;
    font-weight: 700;
    color: rgb(175, 0, 206);
}

.btns {
    display: flex;
    justify-content: space-around;
    font-size: 20px;
    color: rgb(175, 0, 206);
}

.accent {
    accent-color: rgb(0, 140, 143);
    background-color: rgb(0, 140, 143);
}